.home{
	width: 100%;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}


/* 平板电脑 */
@media (min-width: 768px) and (max-width:992px) {
	.logo{
		margin-top: 30%;
		height: 180px;
	}
	                      
}


/* 手机 */
@media (max-width:767px) {
.logo{
	margin-top: 50%;
	height: 120px;
}

}
/* 电脑 */
@media (min-width:993px) {
	#formbackground{
		display: none;
	}
	.logo{
		margin-top:10%;
		height: 200px;
	}
}

.h3{
	padding-right: 0;
	padding-left: 0;
}