body,ul,li,p,h1,h2,h3,h4,form,table,td,img,div,dl,dt,dd,input{
	margin: 0;
	padding: 0;
}

body{
	font-size: 12px;
	font-family: Verdana,Arial,sans-serif,"Times New Roman",宋体; 

}
img{
	border: none;

}
li{
	list-style: none;

}
input,select,textarea{
	outline:none;
}